<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Моите тестове</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        Моите тестове
        <div th:if="${not #lists.isEmpty(tests)}">
            <div th:each="test : ${tests}">
                <h4>ИД на теста: <div style="display: inline" th:text="${test.test.id.toHexString()}"></div></h4>
                <h4>Предмет: <div style="display: inline" th:text="${test.test.subject}"></div></h4>
                <div th:each="question : ${test.questions}">
                    <div>Въпрос: <div style="display: inline" th:text="${question.question.question}"></div></div>
                    <div th:each="answer : ${question.answers}">
                        <div style="display: inline" th:if="'${answer.isCorrect}' == 'true'">
                            <input style="display: inline" type="checkbox" checked="checked"></input>
                        </div>
                        <div style="display: inline" th:unless="'${answer.isCorrect}' == 'false'">
                            <input style="display: inline" type="checkbox"></input>
                        </div>
                        <div style="display: inline" th:text="${answer.answer}"></div>
                    </div>
                </div>
                <div>------------------------------------------------</div>
            </div>
        </div>
    </div>
</body>

</html>