<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Нов тест</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <header>Нов тест</header>
        <form th:object="${test}" th:action="@{/test}" method="POST">
        Предмет: <input type="text" class="subject" th:field="*{subject}"></input><br></br>
        <input type="submit" value="Продължи"></input>
        </form>
    </div>
</body>

</html>